.userList {
  border: 1px solid #65b1fc;
  color: #65b1fc;
  width: 100%;
  margin-top: -4px;
  border-radius: 5px;
  word-break: keep-all;
  overflow-x: scroll;
}

.btnWrap {
  text-align: center;
  margin-top: 20px;
}

.submitBtn {
  width: 100px;
}

.bg {
  background: #f4f4f4;
  padding: 5px 10px;
  margin-bottom: 13px !important;
}