node_modules
.DS_Store
/build
/report
.idea
.vscode
*.code-workspace

/coverage/

!/swagger
/swagger/*
!/swagger/browser.js
!/swagger/rbms-swagger.json
!/swagger/openSwagger.js
!/swagger/code-gen.js
!/swagger/code-router.js

/.jscpd
/.jscpd
# production
./dist/
/coverage/
# misc
/npm-debug.log*
*.log
