{
  "swagger": "2.0",
  "info": {
    "version": "2.0",
    "title": "Admin API",
    "contact": {
      "url": "www.hubenlv.com",
      "email": "me@hubenlv.com"
    },
    "license": {
      "name": "Internal Only",
      "url": "www.hubenlv.com"
    }
  },
  "host": "www.hubenlv.com",
  "basePath": "/",
  "tags": [
    {
      "name": "ApplicationController",
      "description": "借款申请相关"
    },
    {
      "name": "UniauthController",
      "description": "统一登录授权"
    },
    {
      "name": "内匹功能，匹配：个人法人、关联人、企业及关联企业、地址匹配",
      "description": "Loan Match Controller"
    },
    {
      "name": "审批记录查询，审批时上传的:规则引擎审批结果、签约条件、担保人",
      "description": "Credit Review Result Log Controller"
    },
    {
      "name": "AntiFraudQueryReportAndDataController",
      "description": "AFC相关报告查询"
    },
    {
      "name": "health-controller",
      "description": "健康检测"
    },
    {
      "name": "sample-controller",
      "description": "Sample Controller"
    },
    {
      "name": "产品审核操作配置：拒绝码、撤销码、文件核查选项、迁移条件配置",
      "description": "Product Review Options Controller"
    },
    {
      "name": "operation-item-controller",
      "description": "Operation Item Controller"
    },
    {
      "name": "AntiFraudController",
      "description": "反欺诈调查相关"
    },
    {
      "name": "telephoneReviewRecordController",
      "description": "电核审批记录"
    },
    {
      "name": "PaymentController",
      "description": "支付业务服务"
    },
    {
      "name": "UtilityController",
      "description": "通用工具类相关"
    },
    {
      "name": "审批订单文件核查:文件资料",
      "description": "Credit Order File Review Controller"
    },
    {
      "name": "CreditReportQueryController",
      "description": "三方信用報告查詢"
    },
    {
      "name": "签约条件查询",
      "description": "Loan Condition Controller"
    },
    {
      "name": "CreditReviewController",
      "description": "订单审批相关"
    },
    {
      "name": "LoanAppProxyController",
      "description": "透传loanapp接口数据"
    },
    {
      "name": "CreditFeatureController",
      "description": "feature platform 查询"
    },
    {
      "name": "ProcessConfManagementController",
      "description": "项目配置管理"
    },
    {
      "name": "ReviewConfigController",
      "description": "审批配置相关服务"
    }
  ],
  "paths": {
    "/createSample": {
      "post": {
        "tags": [
          "sample-controller"
        ],
        "summary": "创建Sample",
        "operationId": "createSampleUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "schema": {
              "type": "string"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "参数错误或业务异常"
          },
          "401": {
            "description": "认证失败"
          },
          "403": {
            "description": "访问拒绝"
          },
          "404": {
            "description": "资源不存在"
          },
          "405": {
            "description": "方发不支持"
          },
          "500": {
            "description": "系统内部错误"
          }
        }
      }
    },
    "/exception/{type}": {
      "get": {
        "tags": [
          "sample-controller"
        ],
        "summary": "异常类型抛错国际化测试",
        "operationId": "doExceptionUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "type",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/healthcheck": {
      "get": {
        "tags": [
          "health-controller"
        ],
        "summary": "健康检测",
        "operationId": "healthCheckUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/menu1": {
      "get": {
        "tags": [
          "sample-controller"
        ],
        "summary": "正常返回菜单信息报文国际化测试",
        "operationId": "getMenuUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MenuBo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/menu2": {
      "get": {
        "tags": [
          "sample-controller"
        ],
        "summary": "正常返回菜单信息报文国际化测试",
        "operationId": "getMenuV2UsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MenuBo"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/menu3": {
      "get": {
        "tags": [
          "sample-controller"
        ],
        "summary": "正常返回菜单信息报文国际化测试",
        "operationId": "getMenuV3UsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MenuBo"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/test1": {
      "get": {
        "tags": [
          "sample-controller"
        ],
        "summary": "正常返回菜单信息报文国际化测试",
        "operationId": "test1UsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/test2": {
      "get": {
        "tags": [
          "sample-controller"
        ],
        "summary": "正常返回菜单信息报文国际化测试",
        "operationId": "test2UsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/test3": {
      "get": {
        "tags": [
          "sample-controller"
        ],
        "summary": "正常返回菜单信息报文国际化测试",
        "operationId": "getMenu1UsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MenuBo"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/test4": {
      "get": {
        "tags": [
          "sample-controller"
        ],
        "summary": "模拟文件下载",
        "operationId": "downloadFileUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1.1/menus": {
      "get": {
        "tags": [
          "UniauthController"
        ],
        "summary": "查询菜单信息(通过管理页面配置的)",
        "operationId": "getAllMenusUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "菜单状态",
            "required": false,
            "type": "string",
            "enum": [
              "ENABLED",
              "DISABLED"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/菜单"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/anti-fraud-group-operate": {
      "post": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "反欺诈-团伙调查结论提交",
        "operationId": "submitGroupOperateRecordUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/团案操作记录"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AntiFraudGroupOperateResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/anti-fraud-group-operate/query": {
      "get": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "反欺诈-团伙调查结论查询",
        "operationId": "getGroupOperateRecordUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "groupLeaderId",
            "in": "query",
            "description": "团伙核心aid",
            "required": false,
            "type": "string"
          },
          {
            "name": "stageMode",
            "in": "query",
            "description": "暂存模式",
            "required": false,
            "type": "string",
            "enum": [
              "ALL",
              "NO_STAGE",
              "STAGE_ONLY"
            ]
          },
          {
            "name": "userId",
            "in": "query",
            "description": "操作员id",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AntiFraudGroupOperateRecordVo"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/anti-fraud-group-operate/{groupOpId}": {
      "get": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "反欺诈-团伙调查结论获取",
        "operationId": "getGroupOperateRecordUsingGET_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "groupOpId",
            "in": "path",
            "description": "groupOpId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "detail",
            "in": "query",
            "description": "detail",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AntiFraudGroupOperateRecordVo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/anti-fraud-operate-records": {
      "post": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "新增反欺诈调查操作记录",
        "operationId": "submitAntiFraudOperateRecordUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "record",
            "description": "欺诈调查操作记录",
            "required": true,
            "schema": {
              "$ref": "#/definitions/反欺诈调查操作记录表"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/anti-fraud-operate-records/query": {
      "get": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "反欺诈调查操作记录查询(无分页,保持与之前的返回值兼容)",
        "operationId": "getAntiFraudOperateRecordUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "iid",
            "in": "query",
            "description": "借款人id, 允许提供0到多个aid",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "ssn",
            "in": "query",
            "description": "借款人ssn, 允许提供0到多个ssn, 建议不与aid同时指定",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "masterId",
            "in": "query",
            "description": "关联的主反欺诈调查(关联的团案调查发起的源欺诈调查)id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "latestOnly",
            "in": "query",
            "description": "仅查询最新记录,缺省false",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "stageMode",
            "in": "query",
            "description": "包含stage记录",
            "required": false,
            "type": "string",
            "enum": [
              "ALL",
              "NO_STAGE",
              "STAGE_ONLY"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "页大小",
            "required": false,
            "type": "integer",
            "default": 2147483647,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/反欺诈调查操作记录表"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/anti-fraud-operate-records/query-with-page": {
      "get": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "反欺诈调查操作记录查询",
        "operationId": "getAntiFraudOperateRecordWithPageUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "iid",
            "in": "query",
            "description": "借款人id, 允许提供0到多个aid",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "ssn",
            "in": "query",
            "description": "借款人ssn, 允许提供0到多个ssn, 建议不与aid同时指定",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "masterId",
            "in": "query",
            "description": "关联的主反欺诈调查(关联的团案调查发起的源欺诈调查)id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "latestOnly",
            "in": "query",
            "description": "仅查询最新记录,缺省false",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "stageMode",
            "in": "query",
            "description": "包含stage记录",
            "required": false,
            "type": "string",
            "enum": [
              "ALL",
              "NO_STAGE",
              "STAGE_ONLY"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "页大小",
            "required": false,
            "type": "integer",
            "default": 2147483647,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageBo«反欺诈调查操作记录表»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/anti-fraud-order/nonperforming/phone": {
      "get": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "反欺诈不良号码库-获取不良号码详情",
        "operationId": "getNonperformingPhoneDetailUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "phoneNum",
            "in": "query",
            "description": "phoneNum",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PerformingPhoneResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/anti-fraud-order/nonperforming/phone/delete": {
      "post": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "反欺诈不良号码库-移除不良号码",
        "operationId": "deleteNonperformingPhoneUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NonperformingPhoneDeleteReq"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/anti-fraud-order/nonperforming/phone/list": {
      "post": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "反欺诈不良号码库-获取不良号码列表",
        "operationId": "getNonperformingPhoneListUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "listPageReq",
            "description": "listPageReq",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NonperformingPhoneListPageReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NonperformingPhoneListPageRes"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/anti-fraud-order/nonperforming/phone/save": {
      "post": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "反欺诈不良号码库-添加不良号码",
        "operationId": "saveNonperformingPhoneUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NonperformingPhoneReq"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/anti-fraud-orders": {
      "get": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "根据条件查询反欺诈调查订单(工作台)列表",
        "operationId": "getAntiFraudOrdersUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "queryType",
            "in": "query",
            "description": "查询类型",
            "required": true,
            "type": "string",
            "enum": [
              "MYSELF",
              "UNASSIGN",
              "ALL"
            ]
          },
          {
            "name": "status",
            "in": "query",
            "description": "审批状态",
            "required": false,
            "type": "string"
          },
          {
            "name": "iid",
            "in": "query",
            "description": "iid",
            "required": false,
            "type": "string"
          },
          {
            "name": "customerName",
            "in": "query",
            "description": "姓名",
            "required": false,
            "type": "string"
          },
          {
            "name": "ssn",
            "in": "query",
            "description": "证件号码",
            "required": false,
            "type": "string"
          },
          {
            "name": "initiatorName",
            "in": "query",
            "description": "发起人",
            "required": false,
            "type": "string"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "发起调查起始日期",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "发起调查结束日期",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "userId",
            "in": "query",
            "description": "任务用户Id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "hasProcess",
            "in": "query",
            "description": "是否有流程",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "页大小",
            "required": false,
            "type": "integer",
            "default": 2147483647,
            "format": "int32"
          },
          {
            "name": "userName",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageBo«反欺诈调查订单表»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "根据ActorId创建反欺诈调查订单",
        "operationId": "createAntiFraudOrderByActorUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "iid",
            "in": "query",
            "description": "iid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/anti-fraud-orders/antiFraud/getGraphRelationWithAntiFraud": {
      "get": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "知识图谱数据补充--团伙借款人批量展示",
        "operationId": "getGraphRelationWithAntiFraudUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "iid",
            "in": "query",
            "description": "iid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GraphResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/anti-fraud-orders/apply-person-info": {
      "get": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "获取申请用户个人信息",
        "operationId": "getApplyPersonInfoUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "query",
            "description": "申请人uid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApplyPersonInfoResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/anti-fraud-orders/assignment-batch": {
      "put": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "批量派单操作（多个taskIdId用逗号隔开）",
        "operationId": "batchAssignUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "taskIdIds",
            "in": "query",
            "description": "taskIdIds",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "批量转出操作，转出后回到派单池（多个taskIdId用逗号隔开）",
        "operationId": "batchWithdrawAssignUsingDELETE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "taskIdIds",
            "in": "query",
            "description": "taskIdIds",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/anti-fraud-orders/black-team/get-black-team-data": {
      "get": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "团伙管理-查询团案数据",
        "operationId": "getBlackTeamDataUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "teamId",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": false,
            "type": "string"
          },
          {
            "name": "ssn",
            "in": "query",
            "description": "ssn",
            "required": false,
            "type": "string"
          },
          {
            "name": "teamRole",
            "in": "query",
            "description": "团队角色 1:teamleader 2:关联人",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "operator",
            "in": "query",
            "description": "operator",
            "required": false,
            "type": "string"
          },
          {
            "name": "createTime",
            "in": "query",
            "description": "yyyyMMdd",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlackListPageRes"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/anti-fraud-orders/black-team/remove-black-team-data": {
      "post": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "团伙管理-移出团案",
        "operationId": "removeBlackTeamDataUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "teamRole",
            "in": "query",
            "description": "团队角色 1:teamleader 2:关联人",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "团伙编号id",
            "required": true,
            "type": "string"
          },
          {
            "name": "ssn",
            "in": "query",
            "description": "身份证",
            "required": true,
            "type": "string"
          },
          {
            "name": "operator",
            "in": "query",
            "description": "操作员",
            "required": true,
            "type": "string"
          },
          {
            "name": "reason",
            "in": "query",
            "description": "移出原因",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlackListResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/anti-fraud-orders/candidate-users": {
      "get": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "获取taskIds对应的可分配候选人交集列表",
        "operationId": "getSameCandidateUsersUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "taskIdIds",
            "in": "query",
            "description": "taskIdIds",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/task可分配用户信息"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/anti-fraud-orders/status": {
      "get": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "审批状态集",
        "operationId": "listAntiFraudOrderStatusUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "queryType",
            "in": "query",
            "description": "queryType",
            "required": true,
            "type": "string",
            "enum": [
              "MYSELF",
              "UNASSIGN",
              "ALL"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/枚举"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/anti-fraud-orders/{antiFraudOrderId}/interruptFlag": {
      "get": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "欺诈调查对应订单是否中断流程",
        "operationId": "getInterruptFlagUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "antiFraudOrderId",
            "in": "path",
            "description": "反欺诈订单ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/anti-fraud-orders/{antiFraudOrderId}/interrupted": {
      "get": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "中断中的订单信息展示",
        "operationId": "getInterruptedAntiFraudOrdersUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "antiFraudOrderId",
            "in": "path",
            "description": "反欺诈订单ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/审批订单列表"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/anti-fraud-orders/{iid}/get-match-black-team-id": {
      "get": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "模糊匹配团案编号",
        "operationId": "getMatchBlackTeamIdUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "iid",
            "in": "path",
            "description": "iid",
            "required": true,
            "type": "string"
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "teamId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/anti-fraud-orders/{iid}/save-black-team-data": {
      "post": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "插入团案数据",
        "operationId": "saveBlackTeamDataUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "iid",
            "in": "path",
            "description": "iid",
            "required": true,
            "type": "string"
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "关联团案时必传",
            "required": false,
            "type": "string"
          },
          {
            "name": "opeartorType",
            "in": "query",
            "description": "1:新建团案 2：关联团案",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SaveBlackTeamDataResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/anti-fraud-orders/{ssn}/get-loan-basic-info": {
      "get": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "根据SSN查询借款基本信息",
        "operationId": "getLoanBasicInfoBySsnUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "ssn",
            "in": "path",
            "description": "ssn",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/客户借款信息"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/anti-fraud-orders/{taskId}/assignment": {
      "put": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "派单操作",
        "operationId": "assignUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "taskId",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "转出操作，转出后回到派单池",
        "operationId": "withdrawAssignUsingDELETE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "taskId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/anti-fraud-orders/{taskId}/candidate-users": {
      "get": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "获取taskId对应的可分配候选人列表",
        "operationId": "getCandidateUsersUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "taskId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/task可分配用户信息"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/anti-fraud-orders/{taskId}/claim": {
      "post": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "根据taskId认领反欺诈调查订单",
        "operationId": "claimOrderUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "taskId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/antiFraud/case-statistics": {
      "get": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "AFC案件统计-调查总详情",
        "operationId": "getCaseStatisticsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "startTime",
            "in": "query",
            "description": "开始时间",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "结束时间",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AntiFraudCaseStatisticsBo"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/antiFraud/case-statistics-detail": {
      "get": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "AFC案件统计-调查人明细",
        "operationId": "getCaseStatisticsDetailUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "startTime",
            "in": "query",
            "description": "开始时间",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "结束时间",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "userId",
            "in": "query",
            "description": "调查人id",
            "required": false,
            "type": "string"
          },
          {
            "name": "productCodes",
            "in": "query",
            "description": "产品 魔借：SPEED_LOAN uloan:PL-OCL-ULOAN01-19646-01",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "downloadExcel",
            "in": "query",
            "description": "downloadExcel",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AntiFraudCaseStatisticsDetailBo"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "借款申请列表查询",
        "operationId": "getListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "productCodeList",
            "in": "query",
            "description": "产品编号",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "channelIdList",
            "in": "query",
            "description": "渠道编号",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "status",
            "in": "query",
            "description": "借款状态",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "dateType",
            "in": "query",
            "description": "日期类型(0=申请日期，1=放款日期)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "开始时间",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "结束时间",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "idCard",
            "in": "query",
            "description": "借款人身份证号)",
            "required": false,
            "type": "string"
          },
          {
            "name": "loanId",
            "in": "query",
            "description": "借款编号(精确查询某个loanId)",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "page",
            "in": "query",
            "description": "页面编码",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "分页大小",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LoanAppVo"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications/channel/infos": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "获取渠道信息",
        "operationId": "getChannelBaseInfoUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/渠道基本信息"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications/contracts/{contractId}/link": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "获取合同下载链接",
        "operationId": "getContractDownloadUrlUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "合同ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "email",
            "in": "query",
            "description": "email",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/下载链接"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications/document/{fileId}/link": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "跳转影像件下载地址",
        "operationId": "toDocumentLinkUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "文件编号",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications/document/{fileId}/url": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "查询影像件下载地址",
        "operationId": "getDocumentDownLoadLinkUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "文件编号",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/下载链接"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications/loan/status": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "获取借款状态",
        "operationId": "getCreditReviewLoanStatusUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/枚举"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications/product/infos": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "获取产品信息",
        "operationId": "getProductBaseInfoUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/产品基本信息"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications/product/template": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "获取产品模板信息",
        "operationId": "getProductTemplateBaseInfoUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "templateCode",
            "in": "query",
            "description": "templateCode",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace",
            "in": "query",
            "description": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "name": "productCode",
            "in": "query",
            "description": "productCode",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications/{applicationId}": {
      "get": {
        "tags": [
          "LoanAppProxyController"
        ],
        "summary": "进件资料查询",
        "description": "参考[获取借款信息接口]https://wiki.hubenlv.com/pages/viewpage.action?pageId=31796416",
        "operationId": "getApplicationUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "借款申请ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "configCode",
            "in": "query",
            "description": "配置代码",
            "required": false,
            "type": "string",
            "default": "RBMS"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications/{applicationId}/contracts": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "查询合同列表",
        "operationId": "getContractListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "借款申请ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/合同信息"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications/{applicationId}/credit": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "获取授信信息",
        "operationId": "getCreditInfoUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "借款申请ID",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/授信信息聚合model"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications/{applicationId}/documents": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "查询影像件列表",
        "operationId": "getDocumentListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "借款申请ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DocumentVo"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications/{applicationId}/status": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "查询订单状态",
        "operationId": "getApplicationStatusUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "借款申请ID",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications/{applicationId}/tripartite-contracts/link": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "获取三方合同批量下载链接",
        "operationId": "getTripartiteContractsDownloadUrlUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "申请ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "contractIdList",
            "in": "query",
            "description": "合同ID列表",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "reason",
            "in": "query",
            "description": "原因",
            "required": false,
            "type": "string",
            "default": "风控中心批量下载三方合同"
          },
          {
            "name": "email",
            "in": "query",
            "description": "email",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/下载链接"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/auth/userNameList/{groupCode}": {
      "get": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "查询某个分组下面启用状态的用户名（FRAUD_INVESTIGATION_REVIEW:反欺诈组，TELEPHONE_REVIEW：电核组）",
        "operationId": "getUserNameListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "groupCode",
            "in": "path",
            "description": "groupCode",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/auth/{groupId}/getAcrcGroupUserInfo": {
      "get": {
        "tags": [
          "AntiFraudController"
        ],
        "summary": "获取ACRC下分组的所有user数据",
        "operationId": "getAcrcGroupUserInfoUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "groupId",
            "required": true,
            "type": "string",
            "enum": [
              "TELEPHONE_REVIEW",
              "FRAUD_INVESTIGATION_REVIEW"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UserEntity"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/contracts/{contractId}/link": {
      "get": {
        "tags": [
          "UtilityController"
        ],
        "summary": "合约下载链接",
        "operationId": "getContractDownloadLinkUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "合约ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "contractTenant",
            "in": "query",
            "description": "合约租户",
            "required": true,
            "type": "string",
            "enum": [
              "SCP",
              "DR_BORROWER",
              "NERVER_LAND"
            ]
          },
          {
            "name": "reason",
            "in": "query",
            "description": "原因",
            "required": false,
            "type": "string",
            "default": "风控中心下载"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/字符串对象"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/credit-features/{creditReviewOrderId}": {
      "get": {
        "tags": [
          "CreditFeatureController"
        ],
        "summary": "查询特征信息",
        "operationId": "getFeatureMessageByCreditReviewOrderIdUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "creditReviewOrderId",
            "in": "path",
            "description": "creditReviewOrderId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/特征报告"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": true
      }
    },
    "/v1/credit-review-backlogs": {
      "get": {
        "tags": [
          "CreditReviewController"
        ],
        "summary": "根据条件查询审批订单(工作台)列表",
        "operationId": "getCreditReviewBacklogsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "creditReviewOrderId",
            "in": "query",
            "description": "订单编号",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "type",
            "in": "query",
            "description": "审批订单类型",
            "required": false,
            "type": "string",
            "enum": [
              "CREDIT",
              "LOAN"
            ]
          },
          {
            "name": "tabType",
            "in": "query",
            "description": "查询来源,0-我的；1-派单池",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "applicantId",
            "in": "query",
            "description": "借款人编号",
            "required": false,
            "type": "string"
          },
          {
            "name": "applicationId",
            "in": "query",
            "description": "借款申请编号",
            "required": false,
            "type": "string"
          },
          {
            "name": "applicantName",
            "in": "query",
            "description": "借款人姓名",
            "required": false,
            "type": "string"
          },
          {
            "name": "ssn",
            "in": "query",
            "description": "借款人身份证号",
            "required": false,
            "type": "string"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "申请起始日期",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "申请结束如期",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "relatedApplicationId",
            "in": "query",
            "description": "关联借款申请编号",
            "required": false,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "status",
            "in": "query",
            "description": "待办事项状态",
            "required": true,
            "type": "string",
            "enum": [
              "CLAIM",
              "PENDING",
              "APPROVED"
            ]
          },
          {
            "name": "id",
            "in": "query",
            "description": "订单编号, 将废弃",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "页大小",
            "required": false,
            "type": "integer",
            "default": 2147483647,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/审批订单列表"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/credit-review-backlogs/status": {
      "get": {
        "tags": [
          "CreditReviewController"
        ],
        "summary": "待办事项状态集",
        "operationId": "listCreditReviewBacklogStatusUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/枚举"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/credit-review-backlogs/{creditReviewOrderId}/approval": {
      "post": {
        "tags": [
          "CreditReviewController"
        ],
        "summary": "根据taskId审批订单",
        "operationId": "approvalOrderUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "creditReviewOrderId",
            "in": "path",
            "description": "订单Id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskApprovalRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/credit-review-backlogs/{creditReviewOrderId}/claim": {
      "post": {
        "tags": [
          "CreditReviewController"
        ],
        "summary": "根据taskId认领审批订单",
        "operationId": "claimOrderUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "creditReviewOrderId",
            "in": "path",
            "description": "订单Id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/credit-review-backlogs/{creditReviewOrderId}/task": {
      "get": {
        "tags": [
          "CreditReviewController"
        ],
        "summary": "查询当前审批任务信息",
        "operationId": "getTaskUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "creditReviewOrderId",
            "in": "path",
            "description": "审批订单ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TaskBo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/credit-review-backlogs/{taskId}/assignment": {
      "put": {
        "tags": [
          "CreditReviewController"
        ],
        "summary": "派单操作",
        "operationId": "assignUsingPUT_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "taskId",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "CreditReviewController"
        ],
        "summary": "转出操作，转出后回到派单池",
        "description": "Issue History: RC-1417",
        "operationId": "withdrawAssignUsingDELETE_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "taskId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/credit-review-backlogs/{taskId}/candidate-users": {
      "get": {
        "tags": [
          "CreditReviewController"
        ],
        "summary": "获取taskId对应的可分配候选人列表",
        "description": "Issue History: RC-1280",
        "operationId": "getCandidateUsersUsingGET_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "taskId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/task可分配用户信息"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/credit-review-orders": {
      "get": {
        "tags": [
          "CreditReviewController"
        ],
        "summary": "审批订单列表",
        "description": "Issue History: RC-516",
        "operationId": "getCreditReviewOrdersUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "creditReviewOrderId",
            "in": "query",
            "description": "审批订单ID",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "customerName",
            "in": "query",
            "description": "借款人姓名",
            "required": false,
            "type": "string"
          },
          {
            "name": "guarantorName",
            "in": "query",
            "description": "担保人姓名/核心企业",
            "required": false,
            "type": "string"
          },
          {
            "name": "applicationId",
            "in": "query",
            "description": "借款编号",
            "required": false,
            "type": "string"
          },
          {
            "name": "tenant",
            "in": "query",
            "description": "租户",
            "required": false,
            "type": "string",
            "enum": [
              "A",
              "B",
              "C",
              "D",
              "E",
              "F",
              "G",
              "H"
            ]
          },
          {
            "name": "type",
            "in": "query",
            "description": "审批订单类型",
            "required": false,
            "type": "string",
            "enum": [
              "CREDIT",
              "LOAN"
            ]
          },
          {
            "name": "status",
            "in": "query",
            "description": "审批状态",
            "required": false,
            "type": "string",
            "enum": [
              "NEW",
              "WAITING_RULE_REVIEW",
              "RULE_REVIEWING",
              "RULE_APPROVED",
              "RULE_REJECTED",
              "WAITING_MANUAL_REVIEW",
              "MANUAL_REVIEWING",
              "MANUAL_APPROVED",
              "MANUAL_REJECTED",
              "APPROVED",
              "REJECTED",
              "CANCELED",
              "SUPPLYING"
            ]
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "开始时间",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "结束时间",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "productCode",
            "in": "query",
            "description": "产品代码",
            "required": false,
            "type": "string"
          },
          {
            "name": "ssn",
            "in": "query",
            "description": "借款人身份证号",
            "required": false,
            "type": "string"
          },
          {
            "name": "relatedApplicationId",
            "in": "query",
            "description": "关联借款编号",
            "required": false,
            "type": "string"
          },
          {
            "name": "applicantId",
            "in": "query",
            "description": "借款人ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "applicantName",
            "in": "query",
            "description": "借款人姓名，与customerName重复",
            "required": false,
            "type": "string"
          },
          {
            "name": "residenceAddress",
            "in": "query",
            "description": "常住地址",
            "required": false,
            "type": "string"
          },
          {
            "name": "permanentAddress",
            "in": "query",
            "description": "户籍所在地",
            "required": false,
            "type": "string"
          },
          {
            "name": "mobilePhone",
            "in": "query",
            "description": "手机号",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyName",
            "in": "query",
            "description": "工作单位",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "页面编码",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "分页大小",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/审批订单列表"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/credit-review-orders/antiFraud/address-info/latest": {
      "get": {
        "tags": [
          "AntiFraudQueryReportAndDataController"
        ],
        "summary": "地址信息",
        "operationId": "getAddressInfoUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "ssn",
            "in": "query",
            "description": "ssn",
            "required": false,
            "type": "string"
          },
          {
            "name": "phone",
            "in": "query",
            "description": "phone",
            "required": false,
            "type": "string"
          },
          {
            "name": "uid",
            "in": "query",
            "description": "uid",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": false,
            "type": "string"
          },
          {
            "name": "iid",
            "in": "query",
            "description": "iid",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/credit-review-orders/antiFraud/bank-card-info/latest": {
      "get": {
        "tags": [
          "AntiFraudQueryReportAndDataController"
        ],
        "summary": "账户信息",
        "operationId": "getBankCardInfoUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "iid",
            "in": "query",
            "description": "iid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/credit-review-orders/antiFraud/cityinfolist-report/latest": {
      "get": {
        "tags": [
          "CreditReportQueryController"
        ],
        "summary": "核实录入城市信息",
        "operationId": "getCityInfoListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CityInfoListReport"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/credit-review-orders/antiFraud/communication-info/latest": {
      "get": {
        "tags": [
          "AntiFraudQueryReportAndDataController"
        ],
        "summary": "通讯信息",
        "operationId": "getCommunicationInfoUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "ssn",
            "in": "query",
            "description": "ssn",
            "required": true,
            "type": "string"
          },
          {
            "name": "phone",
            "in": "query",
            "description": "phone",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": true,
            "type": "string"
          },
          {
            "name": "detailType",
            "in": "query",
            "description": "明细类型[(通话号码汇总)f_contactDetails/(通话明细)conversation_detail/(本地联系人)f_mobile_data_local_cantact_list/(本地通话记录)f_mobile_data_call_history_list/(本地短信记录)f_mobile_data_sms_list]",
            "required": false,
            "type": "string"
          },
          {
            "name": "personPhone",
            "in": "query",
            "description": "对方号码",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/credit-review-orders/antiFraud/education-info/latest": {
      "get": {
        "tags": [
          "AntiFraudQueryReportAndDataController"
        ],
        "summary": "教育信息",
        "operationId": "getEducationInfoUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "ssn",
            "in": "query",
            "description": "ssn",
            "required": false,
            "type": "string"
          },
          {
            "name": "phone",
            "in": "query",
            "description": "phone",
            "required": false,
            "type": "string"
          },
          {
            "name": "uid",
            "in": "query",
            "description": "uid",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": false,
            "type": "string"
          },
          {
            "name": "iid",
            "in": "query",
            "description": "iid",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/credit-review-orders/antiFraud/graph_public_user_info/latest": {
      "get": {
        "tags": [
          "AntiFraudQueryReportAndDataController"
        ],
        "summary": "知识图谱节点共同信息",
        "operationId": "getPublicUserInfoUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "query",
            "description": "uid",
            "required": false,
            "type": "string"
          },
          {
            "name": "ssn",
            "in": "query",
            "description": "ssn",
            "required": false,
            "type": "string"
          },
          {
            "name": "iid",
            "in": "query",
            "description": "iid",
            "required": false,
[...]
